{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infiniti System</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <meta name="theme-color" content="#ba4c00">

</head>
<body>
<header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">Infiniti Systems</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Domain
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">INFINITI TRAINING</a>
                        <a class="dropdown-item" href="#">INFINITI DESIGNS</a>
                        <a class="dropdown-item" href="#">INFINITI SERVICES</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">INFINITI PRODUCTS</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News &amp; events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Career</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-dark my-2 my-sm-0 mr-2" type="submit">Login</button>
                <button class="btn btn-dark my-2 my-sm-0 mr-2" type="submit">Signup</button>
            </form>
        </div>
    </nav>

    <div class="container head-section-landing-left">
        <div class="row ">
            <div class="col-sm">
                <div class="card  border-radius-rm font-slab" style="width: 18rem; ">
                    {#                    <img src="https://www.scrapehero.com/wp/wp-content/uploads/2019/05/rpa-robotic-process-automation.gif"#}
                    {#                         class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">Electronics</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.

                        </p>
                        <div>
                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Ad adipisci asperiores.</li>
                                <li>Accusamus architecto</li>
                                <li>Accusamus architecto</li>
                                <li>Accusamus architecto</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-6 head-section-right">
                <img src="{% static 'img/header-img.png' %}"
                     class="head-section-img">
                <div class="text-white header-img-text font-slab">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, asperiores atque blanditiis
                    consequuntur deleniti doloremque enim eveniet excepturi fugiat in minima, molestiae necessitatibus
                    omnis optio perspiciatis quisquam, repellendus sunt unde?


                </div>
            </div>
        </div>
    </div>
</header>
{% block body %}
    <div style="background: #F5F5F6">
        <div class="container">
            <div style="height: 2rem"></div>
            <div class="h1 text-center" id="about_us">About Us</div>
            <hr style="width:150px;border:3px solid #f57c00;border-radius: 15px;">
            <p class="text-capitalize font-weight-bolder text-justify">communication, empowerment, trust, integrity and
                giving
                back to the community, and these same values
                thrive at Infinitisystems today. Infiniti systems family brings together a rich experience across
                all domains of IOT, Embedded Systems, PCBs and Rapid Prototyping.</p>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="card border-rm material-border" >
                        <i class="material-icons icon-hover icon-size-1 text-center">
                            all_out
                        </i>
                        <div class="card-body" >
                            <p class="card-text text-justify">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-rm material-border" >
                        <i class="material-icons icon-hover icon-size-1 text-center">
                            https
                        </i>
                        <div class="card-body" >
                            <p class="card-text text-justify">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-rm material-border" >
                        <i class="material-icons icon-hover icon-size-1 text-center">
                            done_all
                        </i>
                        <div class="card-body" >
                            <p class="card-text text-justify">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock body %}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">Infiniti</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>

</script>
</html>